[Unit]
Description="External IO Sensors read in by this NUC"
Wants=network.target
After=network.target
RequiresMountsFor=/home/robotx

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/robotx
User=robotx
Environment=HOME="/home/robotx/"
PassEnvironment=HOME
ExecStart=/home/robotx/nuc1_sensors

[Install]
WantedBy=multi-user.target
