[Unit]
Description="Precision Time Protocol daemon (master)"
Wants=network.target
After=network.target
RequiresMountsFor=/root/

[Service]
Type=simple
Restart=always
WorkingDirectory=/root/
User=root
Environment=HOME="/root/"
PassEnvironment=HOME
ExecStart=/usr/local/sbin/ptpd2 -C -M -i br0

[Install]
WantedBy=multi-user.target
