[Unit]
Description="UoN RobotX Autopilot service"
Wants=network.target
After=network.target
RequiresMountsFor=/home/robotx

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/robotx
User=robotx
Environment=HOME="/home/robotx/"
PassEnvironment=HOME
ExecStart=/home/robotx/nuc2

[Install]
WantedBy=multi-user.target
